@{ ViewData["Title"] = "Home"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-7 home-description-wrapper">
        <div class="home-description">
            <div class="description-title">
                <h1>Do You Know Who is John Rembo?</h1>
            </div>
            <div class="description-detail">
                Donec urna sapien, porta nec condimentum id, elementum in quam.
                Curabitur a aliquet turpis, sagittis eleifend sem. Nam quis est eget
                neque euismod fringilla et sit amet mauris. Proin commodo sodales
                arcu, a volutpat augue facilisis et. Nam pellentesque finibus felis
                eget feugiat. Nulla convallis a nisl non vehicula. Aliquam erat
                volutpat. Vivamus id massa a lacus tincidunt tempor at eu ex.
            </div>
            <div class="description-bullet-list">
                <ul class="description-list">
                    <li>
                        Proin commodo sodales arcu, a volutpat augue facilisis et. Nam
                        pellentesque finibus felis eget feugiat. Nulla convallis a nisl
                        non vehicula. Aliquam erat volutpat.
                    </li>
                    <li>
                        Nam pellentesque finibus felis eget feugiat. Nulla convallis a
                        nisl non vehicula. Aliquam erat volutpat.
                    </li>
                    <li>
                        Proin commodo sodales arcu, a volutpat. Nulla convallis a nisl non
                        vehicula. Aliquam erat volutpat. Praesent nec tincidunt purus.
                        Donec vel erat porta.
                    </li>
                </ul>
            </div>
            <div class="description-btn">
                <a href="" class="btn">@Resources.LearnMore</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 offset-md-1 home-news-wrapper">
        <div class="home-news">
            <div class="news-title">
                <h1>We Knocked Em’ll</h1>
            </div>
            <div class="news-inner">
                <div class="news-img">
                    <p>
                        Sony <br />
                        Playstation VR
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



